# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Create table containing Data Science Tools
* Execute basic code calculations
* Convert minutes to Hours

Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. Julia
 4. SQL
 5. C++
 6. Java

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas
4. Plotly

| Data Science Tools |
|:--|
| Apache Spark |
| Scikit-learn |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Bert R.